.App {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 1.5rem;
  /* padding: 1rem; */
}

.intro-text {
  font-family: 'Sacramento', cursive;
}

.link {
  font-size: 1.5rem;
  color: aqua;
  transition: ease-in-out .5s;
}

.link:hover {
  color: rgb(0, 153, 153);
  transition: 1s;
}

.nav-bar {
  position: sticky;
  z-index: 2;
  top: 0;
}

.nav-butt {
  font-weight: bold;
  font-size: 1.3rem;
  height: 3rem;
  width: 10rem;
  border-radius: .2rem;
  margin: 1rem;
  border: aqua solid 3px;
  background-color: rgba(0, 0, 0, .5);
  color: aqua;
  transition: ease-in-out .5s;
}

.nav-butt:hover, .nav-butt:focus {
  border: rgb(0, 153, 153) solid 3px;
  color: rgb(0, 153, 153);
  background-color: rgba(0, 0, 0, .9);
  transition: 1s;
}

img {
  height: fit-content;
  width: fit-content;
  border: 6px solid aqua;
  border-radius: .2rem;
  box-shadow: rgba(255, 255, 255, 0.8) 0px 5px 15px;
  /* position: sticky; */
}

.home {
  position: relative;
}

.icon {
  width: 2rem;
  height: 3rem;
  border: none;
  box-shadow: none;
  margin-right: 1rem;
}

.email {
  width: 7rem;
  height: 5rem;
  margin-right: -.7rem;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
}

.shadow {
  filter: brightness(50%);
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.about {
  width: 95%;
}

.d-block {
  max-height: 80rem;
  max-width: 80rem;
}

.carousel-item{
  width: 30%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, .9);
  transition: .5s ease-in-out;
  border: 3px solid aqua;
  border-radius: .2rem;
  padding: 3rem 2rem 3rem 2rem;
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
  background-color: aqua;
  transition: 1s;
}

.active {
  background-color: aqua;
  /* transition: 1s; */
}

@media only screen and (max-width: 850px) {
  .nav-butt {
    width: fit-content;
  }
  p {
    font-size: 1rem;
  }
  .about {
    margin-top: 3rem;
  }
}