.App {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 1.5rem;
  /* padding: 1rem; */
}

.intro-text {
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
}

.link {
  font-size: 1.5rem;
  color: aqua;
  transition: ease-in-out .5s;
}

.link:hover {
  color: rgb(0, 153, 153);
  transition: 1s;
}

.nav-bar {
  position: sticky;
  z-index: 2;
  top: 0;
}

.nav-butt {
  font-weight: bold;
  font-size: 1.3rem;
  height: 3rem;
  width: 10rem;
  border-radius: .2rem;
  margin: 1rem;
  border: aqua solid 3px;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  transition: ease-in-out .5s;
}

.nav-butt:hover, .nav-butt:focus {
  border: rgb(0, 153, 153) solid 3px;
  color: aqua;
  background-color: rgba(0, 0, 0, .9);
  transition: 1s;
}

img {
  border: 6px solid aqua;
  border-radius: .2rem;
  box-shadow: rgba(255, 255, 255, 0.8) 0px 5px 15px;
}

.home {
  background: url('./images/home-pic-faded.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 60rem;
}

.icon {
  width: 2rem;
  height: 3rem;
  border: none;
  box-shadow: none;
  margin-right: 1rem;
}

.email {
  width: 7rem;
  height: 5rem;
  margin-right: -.7rem;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
}

.shadow {
  filter: brightness(50%);
  max-width: 100%;
  height: auto;
  width: auto\9;
}

/* .about {
  background: url('./images/about-pic-faded.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: 6px solid aqua;
  padding: 3rem 10rem 3rem 10rem;
  position: absolute;
  top: 10;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 60rem;
} */

.about {
  /* padding: 13rem 0; */
  background: url('./images/about-pic-faded.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60rem;
  display: flex;
  max-width: 50rem;
  margin: auto;
}

.about-text {
  align-items: center;
  padding: 1rem;
}

.credential {
  position: absolute;
  margin: 3rem -3rem;
}

.w-100 {
  max-height: auto;
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item{
  width: 30%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, .9);
  transition: .5s ease-in-out;
  border: 3px solid aqua;
  border-radius: .2rem;
  padding: 3rem 2rem 3rem 2rem;
  position: absolute;
  top: 5rem;
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
  background-color: aqua;
  transition: 1s;
}

.carousel-caption {
  top: 0;
}

/* .carousel-indicators {
  margin: 5rem 0 0 0;
  margin-top: 1rem;
} */

@media only screen and (max-width: 850px) {
  .nav-butt {
    width: fit-content;
    margin: .6rem;
  }
  p {
    font-size: 1rem;
  }
  /* .about {
    padding: 1rem 2rem 1rem 2rem;
  } */
  /* .home {
    padding: 7rem;
  } */
  /* .intro-text {
    font-size: 2rem;
  } */
}

@media only screen and (min-width: 1200px) {
  /* .about {
    padding: 15rem;
  } */
  
  /* .home {
    padding: 30rem 10rem;
  } */

 /* .react-typewriter-text {
    font-size: 4rem;
  } */
}